<% content_for :title, "Editing category" %>

<h1>Editing category</h1>

<%= render "form", admin_v1_category: @admin_v1_category %>

<br>

<div>
  <%= link_to "Show this category", @admin_v1_category %> |
  <%= link_to "Back to categories", admin_v1_categories_path %>
</div>
